footer{
    margin-top: 10%;
    text-align: center;
    padding: 1% 1% 0 ;
    width: 100%;
    background-color: #cc333333;
}


.referencias h2{
    font-size: 1em;
    margin:0;

}

.referencias{
    margin-bottom: 2%;
}

.referencias li{
    font-size: 0.85em;

};


.referencias li a:visited{
    color:black;
}

span{
    font-size: small;
    margin-top: 5%;
    
}